body {
    background: rgba(194, 221, 212, 0.34);
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(5, 44, 27);
    font-size: 2.2em;
    margin-bottom: 20px;
}

form input[type=text],
form input[type=password] {
    padding: 5px 20px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type=text] {
    margin-bottom: 5px;
}

form input[type=password] {
    margin-bottom: 15px;
}

form input[type=submit] {
    margin-bottom: 10px;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #999;
}

form input::placeholder {
    padding-left: 3px;
}

#niRacuna,
#zeRegistriran {
    display: inline-block;
    margin-top: 10px;
}

.post-div {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-div img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* #postsArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
} */

#postsArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#logout-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;
}

#contentTextarea {
    width: 300px;
    height: 150px;
    padding: 8px;
    border-radius: 4px;
    resize: vertical;
}